@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	/* Reference name */
	font-family: 'Syne';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Syne-VariableFont_wght.ttf');
}

@font-face {
	/* Reference name */
	font-family: 'Montserrat';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}
@layer utilities {
	.cornercrop {
		-webkit-clip-path: polygon(100% 0%, 100% 52%, 100% 100%, 0 100%, 0 15%, 25% 0%);
		clip-path: polygon(100% 0%, 100% 52%, 100% 100%, 0 100%, 0 15%, 25% 0%);
	}
}


h1 {
	font-size: theme('fontSize.2xl');
	font-weight: bold;
}

h2 {
	font-size: theme('fontSize.xl');
	font-weight: bold;
}

ol li {
	list-style-type: circle;
	margin-left: 1rem;
}

article ul li {
	list-style-type: point;
	margin-left: 1rem;
}
